{% extends 'base.html' %}

{% block content %}
<style>
    /* General Reset */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container9 {
        background-color: #007BFF;
        border-radius: 10px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 500px;
        padding: 30px;
        text-align: center;
        margin: auto;
        transform: translateY(8rem);
        margin-bottom: 12rem;
    }

    h2 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 20px;
        color: white;
    }

    p {
        font-size: 18px;
        color: white;
        margin-bottom: 20px;
    }

    a {
        color: white;
        text-decoration: underline;
        font-size: 20px;
        transition: color 0.3s;
    }

    a:hover {
        color: #dfe6e9;
    }

    .footer {
        margin-top: 20px;
        font-size: 14px;
        color: white;
    }

    /* Media Queries */
    @media (max-width: 600px) {
        .container9 {
            padding: 20px;
        }

        h2 {
            font-size: 20px;
        }

        p {
            font-size: 14px;
        }

        a {
            font-size: 14px;
        }
    }
</style>

<div class="container9">
    <h2>Password Reset Complete</h2>
    <p>Your password has been successfully reset. You can now <a href="{% url 'login' %}">Log in</a> with your new password.</p>
   
</div>

{% endblock %}
